footer a.logo .red {
  color: var(--red-color);
}

footer .content-container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--white-color);
}

footer a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

footer .copy-right {
  color: var(--white-color);
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 400;
}

footer h3 {
  color: var(--pink-color);
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

footer .links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .links ul li {
  color: var(--white-color);
  font-family: Alegreya;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 16px;
}
